@import "variables";
@import url("http://fonts.googleapis.com/css?family=Open+Sans&.css"); 

body {
  font-family: 'Open Sans', sans-serif;
  background-color: @base-white;
  color: @base-text;
  display: flex;
  flex-direction: column;
  align-items: center;

  #game { // Mobile & Tablet First
    max-width: @desktop-max-width;
    width:100%;
    height:500px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:@base-background;

    button {
      .ui-bubble();
      position: relative;
      width: 50%;
      margin: @base-padding;
    }

    .game-background {
      position: relative;
      width: 100%;
      min-height:100%;
      background-image: @background-image;
      background-size: cover;
      background-position: bottom center;
      background-color:@base-background;
      flex: 0 0 auto;
      transition: ease 0.2s;
    }

    .game-ui {
      .ui-bubble();
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      top:10px;
      width: 90vw;
      margin-top: 16px;
      .game-player {
        display: flex;
        font-size: 20px;
        position: relative;
        padding:3px;
        .george-icon {
          width: 100px;
          height:100px;
          position: absolute;
          background-image: @george-image;
          background-size: contain;
          background-repeat: no-repeat;
          top: -50%;
        }
        &.right {
          margin-right:50px;
          margin-left:auto;
          .george-icon {
            left:125%;
          }
        }
        &.left {
          margin-left:50px;
          margin-right:auto;
          .george-icon {
            right:100%;
          }
        }
      }
      &.game-popup {
        top: @base-bubble-ui-top;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 20px;

        h2 {
          width: 100%;
          display: flex;
          justify-content: center;
        }

        input {
          width:16px;
          margin:16px;
        }
        label {
          width:60%;
          margin:@base-padding;
        }
        .game-popup-error {
          font-size: 15px;
          margin: @base-padding;
          color: red;
        }
      }
    }

    .game-cells-table {
      .ui-bubble();
      display: flex;
      margin-top: @base-bubble-ui-top;
      padding: 36px 16px;
      flex-direction: column;
      align-items: center;
      .game-cells-row {
        display: flex;
        flex-direction: row;
      }
      .game-cell {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height:30px;
        padding: 10px;
        margin: 4px;
        font-size: 30px;
        color: @bubble-text;
        border-radius: 10px;
        box-shadow: 5px 5px 5px @bubble-borders;
        background-color: @bubble-background;
        cursor: pointer;
        &.disable {
          pointer-events: none;
        }
      }
    }
    .game-winner,
    .game-restart {
      .ui-bubble();
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      justify-content: center;
      width: 10vw;
      top: 40%;
      width:15vw;
      font-size: 20px;
    }

    .game-winner {
      pointer-events: none;
      top: 20%;
      padding: @base-padding;
    }

  // Desktop
  @media (min-width: @tablet) {
    height:800px;
    .game-winner,
    .game-restart{
      font-size:30px;
    }
    .game-ui {
      width: 40vw;
    }
  }
  }
}
